doctype html
html(lang='en')
  head
    title Jade
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")
  body
  .container
    .row      
      .col-md-8
        .row
          header
            .col-md-3
              img(src="img/logo.jpg", class="logo" alt="TV GUIDE")
            .col-md-9
              div.banner
                span ON NOW
                p 14:00
                  strong
                    |&nbsp;Celebrity Coach Trip
                  |&nbsp;Zagreb, Croatia

        h3 WEDNESday, 06/08/2014

        div
          p.title Morning
          
          p 
            span.lblue.sp 06:30
            |THANE DIRECT Flavorchef Colours + X5 Mop

          p 
            span.lblue.sp 07:00
            span.lblue
              | TELESHOPPING X Hose

          p 
            span.lblue.sp 07:30
            |THANE DIRECT H20 Mop + Flavorchef

          p 
            span.lblue.sp 08:00
            |THANE DIRECT Flavorchef Colours + X5 Mop

          p 
            span.lblue.sp 08:30
            |THANE DIRECT H20 Mop + Flavorchef

          p 
            span.lblue.sp 09:00
            span.lblue TELESHOPPING NoNo

          p.time 
            span.lblue 09:30
            span.lblue FLOYD AROUND THE MED
            |France

          p 
            span.lblue.sp 10:00
            span.lblue SHANE DELIA'S SPICE JOURNEY
            |Beqaa Valley
          
          p 
            span.lblue.sp 11:00
            span.lblue AMERICA'S DARK SECRETS DECLASSIFIED
            |&nbsp;Denver Airport Bunker, NSA Data Center, White Sands Mysteries

          p 
            span.lblue.sp 11:00
            |After a tour of the Monaco track with F1 driver Johnny Herbert and a visit to the island of Lerins, Keith serves up a locally inspired feast of Nicoise  |Red Mullet, spring lamb and maize-fed chicken. 
            |Series 1 - Ep.4     Read more...
          
          p 
            span.lblue.sp 11:30            
            span.lblue BAGGAGE BATTLES
            |&nbsp;London
          p 
            span.lblue.sp 12:00
            span.lblue MONUMENTAL MYSTERIES
            |&nbsp;Chrysler Building, Stanford Mausoleum, Hedy Lamarr          
          
          //- afternoon
          p.title AFTERNOON

           p 
            span.lblue.sp 06:30
            span.lblue BAGGAGE BATTLES
            |&nbsp;London

          p 
            span.lblue.sp 07:00
            span.lblue WORLD'S GREATEST MOTORCYCLE RIDES
            |&nbsp;Riding Scotland

          p 
            span.lblue.sp 07:30
            span.lblue AMERICA'S DARK SECRETS DECLASSIFIED
            |&nbsp;Denver Airport Bunker, NSA Data Center, White Sands Mysteries

          p 
            span.lblue.sp 08:00
            span.lblue ON NOW:
            |&nbsp;BIZARRE FOODS AMERICA Portland

          p 
            span.lblue.sp 08:30
            span.lblue BIZARRE FOODS AMERICA
            |&nbsp;Denver

          p 
            span.lblue.sp 09:00
            span.lblue BAGGAGE BATTLES
            |&nbsp;Los Angeles

          p
            span.lblue.sp 09:30
            span.lblue BAGGAGE BATTLES
            |&nbsp;NYC Transit

           p
            span.lblue.sp 10:00
            span.lblue BAGGAGE BATTLES
            |&nbsp;Florida

          p 
            span.lblue.sp 11:00
            span.lblue BAGGAGE BATTLES
            |&nbsp;Grand Theft Auto

          p 
            span.lblue.sp 11:00
            span.lblue BAGGAGE BATTLES
            |&nbsp;Breaking the Bank
          
          //- eveing
         p.title EVENING
         p 
          span.lblue.sp 06:30
          span.lblue BAGGAGE BATTLES
          |London

        p 
          span.lblue.sp 07:00
          span.lblue WORLD'S GREATEST MOTORCYCLE RIDES
          |&nbsp;Riding Scotland

        p 
          span.lblue.sp 07:30
          span.lblue MONUMENTAL MYSTERIES
          |&nbsp;Chrysler Building, Stanford Mausoleum, Hedy Lamarr

        p 
          span.lblue.sp 08:00
          span.lblue AMERICA'S DARK SECRETS DECLASSIFIED
          |&nbsp;Denver Airport Bunker, NSA Data Center, White Sands Mysteries

        p 
          span.lblue.sp 08:30
          span.lblue BAGGAGE BATTLES
          |&nbsp;London

        p 
          span.lblue.sp 09:00
          span.lblue WORLD'S GREATEST MOTORCYCLE RIDES
          |&nbsp;Riding Scotland

        p
          span.lblue.sp 09:30
          span.lblue MONUMENTAL MYSTERIES
          |&nbsp;Chrysler Building, Stanford Mausoleum, Hedy Lamarr

        p
          span.lblue.sp 10:00
          span.lblue AMERICA'S DARK SECRETS DECLASSIFIED
          |&nbsp;Denver Airport Bunker, NSA Data Center, White Sands Mysteries
        
        //- night
        p.title NIGHT
        p 
          span.lblue.sp 06:30
          span.lblue FLOYD AROUND THE MED
          |&nbsp;France

        p 
          span.lblue.sp 07:00
          span.lblue SHANE DELIA'S SPICE JOURNEY
          |&nbsp;Beqaa Valley

        p 
          span.lblue.sp 07:30
          span.lblue AMERICA'S DARK SECRETS DECLASSIFIED  
          |&nbsp;Chrysler Building, Stanford Mausoleum, Hedy Lamarr

     
      .col-md-4
        aside
          section
            img(src="img/motors.jpg", alt="motors")
          section.accordion
            .row
              .col-md-8
                span.accordion__title--first
                  | WHAT’s ON
              .col-md-4
                span.accordion__title--sec 
                  |> TV Guide 
            article.active
              
              p ON NOW
              p 14:00 Celebrity Coach Trip 
              p 
                span.lblue Zagreb, Croatia

            article              
              p.dblue COMING UP...
              p.vlblue 14:30 Celebrity Coach Trip
              p.white Plitvice National Park, Croatia
            
            article

              p.dblue ON TONIGHT
              p.vlblue 20:00 World's Greatest Motorcycle Rides
              p.white Route 66 Revisited Pt1
              p.vlblue 21:00 Michael Palin's New Europe
              p.white From Pole to Pole
          section.ocean
            img(src="img/ocean.jpg", alt="ocean")
            p.lblue
              |WIN a two-week luxury holiday in 
              |St Lucia courtesy of British Airways
            span.dblue
              |Learn More >
            


